.Reservierungen {
    display: flex;
    flex-direction: row;
  
    width: 100vw; 
    height: 100vh;
  
  }
.ReservierungenContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.LinksReservierungen {
  display: flex;
  flex-direction: column;

  width: 65vw; 
  height: 100vh;
}
.RechtsReservierungen {
  display: flex;
  flex-direction: column;
  
  width: 35vw; 
  height: 100vh;
  
  background-image: url('../assets/backgroundLiso.png');
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.Chefe {
  width: 26vw;

  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5);
  transform: rotate(5deg);
 z-index: 10;
}
.Decor {
  width: 100vw;

}
