.Restaurant {
  display: flex;
  flex-direction: row;
  
  width: 100vw;
  height: 100vh;
  
}
.RestaurantDesign {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height:100vh;
  
  background-image: url('../assets/restaurant.jpg');
  background-size: cover;

}
  .Boden {
    display: flex;
    flex-direction: column;
    
    background-image: url(../assets/backgroundLiso.png);
    background-size: cover;
    opacity: 70%;
    width: 30vw;
    height: 100%;
    margin-left: 0rem;
    
  }
  .ZeitenLinks {
    display: flex;
    flex-direction: column;
    
    width: 30vw;
    align-items: center;
    justify-content: center;
    margin-top: 80rem;
  
    
  }
  
  .Offen {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    
    color: #ffffff;
    text-align: center;

  }
  .RestaurantReservierungen {
    all: unset;
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    
    margin-top: -0rem;
    
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: solid 0.2rem #ffffff;
    border-radius: 1rem;
    background-color: #553f1e00;
    text-align: center;
    cursor: pointer;
  }
  .RestaurantReservierungen:hover {
    color:  #ffffff;
    font-weight: 700;
  } 

.Texto {
  display: flex;
  flex-direction: column;

  margin-top: -80rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.BemVindo {
  font-family: 'Satisfy', cursive;
  font-size: 7rem;
  text-shadow: 1rem 1rem 1rem  rgb(224, 156, 54);
  color: #ffffff;
  text-align: left;
  margin-left: 4rem;
  margin-top: 0rem;

}
.Amarals{
  font-family: 'Satisfy', cursive;
  font-size: 9rem;
  text-shadow: 1rem 1rem 1rem  rgb(224, 156, 54);
  color: #ffffff;
  text-align: center;
 
  margin-top: -4rem;
  margin-bottom: 0rem;
  
}